<footer
  id="footer"
  class="mt-20 text-center font-light text-white opacity-0 duration-500"
>
  <p class="opacity-50">
    Created by <a class="border-b border-dotted border-white" href="https://github.com/morphy">morphy</a>. Inspired by
    <a class="border-b border-dotted border-white" href="https://html5up.net/dimension">Dimension</a> by
    <a class="border-b border-dotted border-white" href="https://html5up.net/">HTML5 UP</a>
  </p>
</footer>
