# IDE
.idea/

# Jekyll

.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Npm
node_modules/
package-lock.json

# Build
_site
dist/
src/assets/style.css
src/assets/main.js

# Other

src/assets/lib
src/assets/search.json
