<!doctype html>
<html lang="pl">
  {% include head.liquid %}

  <body>
    <div
      id="wrapper"
      class="flex min-h-screen flex-col items-center justify-center bg-black px-3 py-10 transition-colors duration-[2000ms] sm:p-16"
    >
      {% include header.liquid %}

      <div class="self-stretch">
        {% include main.liquid %}
      </div>

      {% include footer.liquid %}
    </div>

    <video
      id="video"
      class="fixed left-0 top-0 -z-50 size-full transform object-cover filter duration-500 bg-black"
      muted
      loop
      autoplay
      preload="none"
    >
      <source type="video/webm" src="{{ "/assets/video/video-vp9.webm" | relative_url }}">
      <source type="video/mp4" src="{{ "/assets/video/video-h265.mp4" | relative_url }}">
    </video>
  </body>
</html>
