---
title: Media
order: 5

videos:
  - src: https://www.youtube.com/embed/RqU59m0QWms?si=Hd8TG2gCZ8SSxHES
    title: A. Bioni, „Issipile”, aria Giasone - „Io ti lascio”

  - src: https://www.youtube.com/embed/yDC8U-ZKGsM?si=Art6z4PkqijxdlK9
    title: A. Bioni, „Issipile”, aria Giasone - „Raffrena ancora un poco”

  - src: https://www.youtube.com/embed/Sp_ZPBPKMWw?si=zaWDWFe2QD_0I2s-
    title: A. Bioni, „Issipile”, aria Giasone - „Ti vo cercando in volto”

  - src: https://www.youtube.com/embed/t0nct7EWg6Q?si=Fkiz9cNV05L9AOV0
    title: Tadeusz Baird, „Cztery sonety miłosne” do słów W. Szekspira

  - src: https://www.youtube.com/embed/bkn41O_fpSM?si=YpZRV6axFZo9qXhe
    title: "I. J. Paderewski, „Douze melodies sur des poesies de Catulle Mendes”, Op. 22: XII L'ennemie"

  - src: https://www.youtube.com/embed/n46P2-z3Mtw?si=o4_pO11PNM0g-X98
    title: B. Britten, „Sen nocy letniej”, aria Oberona - „Welcome Wonderer!”
---
{% for video in page.videos %}
  <div>
    <h4>{{ video.title }}</h4>

    <iframe
      width="100%"
      height="315"
      src="{{ video.src }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      loading="lazy"
    >
    </iframe>
  </div>
{% endfor %}
