<ul class="flex items-center gap-8 pt-20 sm:gap-10">
  {% assign classes = 'flex size-16 items-center justify-center rounded-full border border-solid border-white duration-200 hover:bg-white hover:bg-opacity-50 sm:size-20' %}

  <li>
    <a
      href="https://www.facebook.com/borowczykjakub"
      class="{{ classes }}"
    >
      {%- include icons/facebook.svg -%}
    </a>
  </li>

  <li>
    <a
      href="https://www.youtube.com/@jakubborowczyk3862"
      class="{{ classes }}"
    >
      {% include icons/youtube.svg %}
    </a>
  </li>

  <li>
    <a
      href="https://www.instagram.com/borowczyk.jakub/"
      class="{{ classes }}"
    >
      {% include icons/instagram.svg %}
    </a>
  </li>
</ul>
